@namespace url(http://www.w3.org/1999/xhtml);
/*========================Global Changes========================*/
/*Sets the text color for General text

body {
    color: #999999 !important;
}*/
/*Background color for the Calendar frame

#calcontent,
#calmaster {
    background: #111111 !important;
}*/
/*====================Calendar Date Top=====================*/

.date-top {
    font-size: 40px !important;
    font-family: HelveticaNeue-Light, Helvetica, Arial, sans-serif !important;
    text-align: center !important;
}
.date-picker-on,
.date-picker-off {
    border: 0px !important;
    padding: 1px !important;
    width: 1200px !important;
}
.navSpacer {
    display: none !important;
}
#calendarTabs1 {
    display: none !important;
}

#dateMenuArrow1 {
    display: none !important;
}
.fe_forecast_link {
    display: none !important;
}
.logo-plus-button {
    display: none;
}
/*========================Month View========================*/
/*Day names in Month view*/

.mv-daynames-table {
    background-color: #FFFFFF !important;
    line-height: 20px !important;
}
.mv-event-container {
    background-color: #FFF;
    top: 25px;
}
.view-container-border {
    background-color: #FFFFFF !important;
}
.view-cap {
    background-color: #FFFFFF !important;
}
.st-bg,
.st-bg-next {
    border-left-width: 5px;
    border-left-color: #FFFFFF;
    border-right-width: 0px;
    border-left-style: solid;
    background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
}
.st-bg-today {
    border-left-width: 5px;
    border-left-color: #FFFFFF;
    border-right-width: 0px;
    border-left-style: solid;
    background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
}
.footer {
    padding-top: 0px;
}
.mv-dayname {
    color: #111;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
}
.st-dtitle {
    border-left-width: 5px;
    border-top-width: 5px;
    border-left-style: solid;
    border-color: #FFF;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #DDD;
    background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.st-dtitle-next {
    border-left-width: 5px;
    border-top-width: 5px;
    border-left-style: solid;
    border-color: #FFF;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #DDD;
    background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png);
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}
.st-dtitle-nonmonth {
    color: #888;
}
.st-dtitle-today {
    border-color: #FFF;
    border-bottom-width: 0px;
    border-right-width: 0px;
    font-weight: bold;
    text-decoration: underline;
}
.st-dtitle-down {
    border-top-color: #FFF;
}
.rb-n {
    background-color: black;
    color: #FFF;
    opacity: 0.9;
    margin-left: 5px;
}
.rb-n {
    content: st-wc(title) !important;
}
.te-t,
.te-s {
    color: #FFF;
    opacity: 0.9;
/*  padding-left: 5px;*/
}
.te-t {
    font-weight: bold;
}
.subscribe-image {
    display: none !important;
}
table div div {
    height: inherit!important;
    overflow: inherit !important;
    white-space: normal !important;
    padding-left: 5px !important;
}
/*=========================Week View========================*/
/*=======================Adgenda View=======================*/

.agenda,
.date-label {
    background: url(https://raw.github.com/mmoustafa/Chalkboard/master/img/bg.png) !important;
}
.day {
    color: #FFFFFF !important;
}